span.doa-new {
    text-transform: uppercase;
    font-weight: bold;
    color: #e50700;
    margin-right: 4px;
}

span.doa-space {
    margin-left: 35px;
}

.doa-news-event {
    background-color: #eb1c15 !important;
}

li.ui-state-active>.doa-tabs-anchor {
    background: #010c16 !important;
}

.doa-info {
    float: left;
    padding-top: 1px;
    margin-right: 13px;
    font-size: 12px;
    line-height: 15px;
    color: #8f95a0;
    text-align: right;
}

.gallery-thumb{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.gallery-thumb:last{
    margin-right: 0px;
}

.gallery-wrapper ul{margin: 0px !important;}

.program-thumb {
    max-width: 134px;
}

.homeContactForm {
    width: 59%;
    float: right;
}