img {
    max-width: 100%;
}

.program_gallery_image {
    margin-bottom: 1em;
}

.toggleR {

    display: inline-block;

}

li.program_gallery_image label > input {
    /* HIDE RADIO */
    display: none;
}

li.program_gallery_image label > input + img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
}

li.program_gallery_image label > input:checked + img {
    /* (CHECKED) IMAGE STYLES */
    border: 2px solid #449d44;
}

.error {
    color: red;
}

label i.fa-asterisk {
    color: #f33;
    font-size: 6px;
    position: relative;
    top: -6px;
}

.uploaded-images {
    height: 280px;
    overflow-y: auto;
    margin-bottom: 13px;
}

.admin-thumbnail {
    height: 100px;
}

.dropdown-menu > li > form > input {
    clear: both;
    color: #777;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
    border: 0 none;
    background: #fff none repeat scroll 0 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-menu > li > form > input:hover {
    background: #eee none repeat scroll 0 0;
}

li.program_gallery_image {
    position: relative;
    float: left;
    list-style: none;
    margin-bottom: 20px;
}

.image-delete-button {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    color: maroon;
    text-align: center;
}


.program_gallery_image:hover .image-delete-button {
    display: block;
}

.program_gallery_image:hover img {
    opacity: 0.8;
}

.view-map-canvas .controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.search-address {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    z-index: 324234234;
    position: absolute;
    left: 88px;
}

.search-address:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px; /* Regular padding-left + 1. */
    width: 401px;
}