/*--
	Theme Name: ICare
	Theme URI: xxxx
	Author: xxx
	Author URI: xxx
	Description: Charity/NGO Theme
	Version: 1.0
	License URI: http://
	Tags:
--*/
@import "css/main.css";
.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
    background-color: #008d4c;
}
.btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
    background-color: #d73925;
}
.btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
    background-color: #e08e0b;
}

.advertisement ul li{float: left;list-style: none;}
.advertisement{ height: 300px; margin-left: -40px }